.edit__block-photo img{
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.edit__block-photo{
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.edit__block-photo-info{
    padding-top: 18px;
}

.edit__photo-label{
    margin-top: 4px;
    color: var(--grey3-color);
    cursor: pointer;
}

.edit__btn{
    margin-top: 32px;
}

.edit__btn-exit{
    margin-top: 16px;
    text-align: center;
    color: var(--grey3-color)
}

.edit textarea.input ~ .label {
    top: -50px;
}