.headline1{
    color: var(--black-color);
    font-size: var(--headline1-size);
    font-weight: var(--medium-weight);
    text-align: center;
}

.headline2{
    color: var(--black-color);
    font-size: var(--headline2-size);
    font-weight: var(--medium-weight);
    line-height: 160%;
}