.header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    max-width: 575px;
    padding: 0 16px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 2;
}

.header__logo{
    display: block;
    width: 77px;
    height: 24px;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.header__action-edit, .header__action-add, .header__action-profile{
    display: block;
    width: 22px;
    height: 22px;
}

.header__action-edit svg, .header__action-add label svg{
    width: inherit;
    height: inherit;
    fill: var(--black-color);
    transition: all 0.3s ease;
}

.header__action-edit:hover svg, .header__action-add:hover label svg{
    fill: var(--orange-color);
}

.header__action-add label{
    display: inherit;
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.header__action-profile img{
    width: inherit;
    height: inherit;
}


@media (min-width: 399.98px) {
    .header{
        height: 60px;
    }
    .feed {
        padding-top: 60px;
    }
    .header__logo {
        width: 102px;
        height: 33px;
    }
    .header__action-edit, .header__action-add, .header__action-profile {
        width: 26px;
        height: 26px;
    }
}