.sign-in__form{
    margin-top: 32px;
}

.sign-in__remember-checkbox{
    display: none;
}

.sign-in__remember-label::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey1-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    background: var(--white-color) url(../../img/check.svg);
}

.sign-in__remember-checkbox:checked ~ .sign-in__remember-label::before{
    background: var(--black-color) url(../../img/check.svg);
    background-size: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--black-color);
}

.sign-in__remember-label{
    color: var(--grey3-color);
    font-size: var(--description-size);
    position: relative;
    margin-left: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sign-in__password-show{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    z-index: 100;
    cursor: pointer;
}

.sign-in__password-show svg{
    width: 24px;
    height: 24px;
}

.sign-in__password-show svg{
    fill: var(--grey1-color);
    transition: all 0.3s ease;
}

.sign-in__password-show.view svg{
    fill: var(--grey3-color);
}

.sign-in__block-settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.sign-in__forgot{
    color: var(--orange-color);
    font-size: var(--description-size);
    font-weight: var(--regual-weight);
}

.sign-in__btn{
    margin-top: 20px;
}