.sign-in__form{
    margin-top: 32px;
}

.sign-in__block-settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.sign-in__forgot{
    color: var(--orange-color);
}

.sign-in__btn{
    margin-top: 20px;
}