.sign-in{
    padding-top: 130px;
    background: url(../../../image/autorization.png) center top;
    background-size: 320px;
    background-repeat: no-repeat;
    min-height: 586px;
}

.sign-in__head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sign-in__logo{
    display: block;
    width: 77px;
    height: 25px;
}

.logo__big{
    width: inherit;
    height: inherit;
}