.forgot{
    padding-top: 130px;
    background: url(../../../image/autorization.png) center top;
    background-size: 320px;
    background-repeat: no-repeat;
    min-height: 586px;
}

.forgot__description{
    display: block;
    width: 314px;
    text-align: center;
    margin: 12px auto 0 auto;
    color: var(--grey3-color);
}