.post__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post__info-like{
    display: flex;
    align-items: center;
    gap: 6px;
}

.post__info-like-svg{
    display: block;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.post__info-like-svg use:first-child{
    fill: var(--white-color);
    transition: all 0.15s ease;
}

.post__info-like-svg use:last-child{
    fill: var(--black-color);
    transition: all 0.15s ease;
}

.liked .post__info-like-svg use:first-child,
.liked .post__info-like-svg use:last-child{
    fill: var(--orange-color);
}

.post__info-date{
    color: var(--grey3-color);
}