.block-input{
    position: relative;
    margin-bottom: 12px;
}

.block-input:last-of-type {
    margin-bottom: 0;
}

.block-input .input:focus~.label,
.block-input .input:not(:placeholder-shown)~.label{
    transform: translateY(-12px);
    font-size: var(--text12-size);
}

.block-input textarea.input:focus~.label,
.block-input textarea.input:not(:placeholder-shown)~.label{
    transform: translateY(-10px);
}