.label__remember{
    color: var(--grey3-color);
    position: relative;
    margin-left: 32px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label__remember::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey1-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    background: var(--white-color) url(../../../image/check.svg);
}

.checkbox__remember:checked ~ .label__remember::before{
    background: var(--black-color) url(../../../image/check.svg);
    background-size: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--black-color);
}